<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cxf="http://cxf.apache.org/core"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://cxf.apache.org/core
        http://cxf.apache.org/schemas/core.xsd
        http://cxf.apache.org/jaxws
        http://cxf.apache.org/schemas/jaxws.xsd
        http://cxf.apache.org/jaxrs
        http://cxf.apache.org/schemas/jaxrs.xsd">

        <!--
            Spring整合cxf，客户端配置
            关键点：
          1. 服务地址     http://localhost:8080/ws/hello
            2. 服务接口类型
        -->

    <jaxws:client id="helloService"
                   serviceClass="com.yss.service.HelloService"
                   address="http://localhost:8080/ws/hello">
    </jaxws:client>

<!--    -->
<!--    <jaxws:server address="/hello">-->
<!--        <jaxws:serviceBean>-->
<!--            <bean class="com.yss.service.Impl.HelloServiceImpl"></bean>-->
<!--        </jaxws:serviceBean>-->
<!--    </jaxws:server>-->


</beans>